# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and Models
models/POS hindi
models/POS_Bhoj_FewShot_using_hin_bhoj_dataset
models/POS_hin_bhoj_finetune
# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

colab.ipynb