# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and Models
data/
models/
!data/.gitkeep
!models/.gitkeep

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db
